In [5]:
import pymongo
import pandas as pd
client = pymongo.MongoClient("mongodb://localhost:27017")
collection = client['test']['books']

#query = {
 #   "library_name" : "통영시립욕지도서관",
  #  "author" : ""
#}

#update = {
 #   "$set" : { "author" : "천재교육"}
#}

#collection.update_many(query, update)

books = list(collection.find({ "author" :  "천재교육", "library_name" : "통영시립욕지도서관" }))
#books = list(collection.find(query))

books = pd.DataFrame(books)

books

,_id,library_name,book_number,book_name,author,publisher,publish_year,sido,create_date
0,63e5e02be0ffba6ec86ff305,통영시립욕지도서관,509,얼음과 불의 노래 1 2부 왕들의 전쟁,천재교육,은행나무,2001,경상남도 통영시 욕지면,2023-02-08
1,63e5e02be0ffba6ec86ff306,통영시립욕지도서관,510,얼음과 불의 노래 2 왕좌의 게임,천재교육,은행나무,2001,경상남도 통영시 욕지면,2023-02-08
2,63e5e02be0ffba6ec86ff5d9,통영시립욕지도서관,1233,여성의 몸 여성의 나이,천재교육,또하나의 문화,2001,경상남도 통영시 욕지면,2023-02-08
3,63e5e02be0ffba6ec86ff5eb,통영시립욕지도서관,1251,런던,천재교육,서울문화사,2000,경상남도 통영시 욕지면,2023-02-08
4,63e5e02be0ffba6ec86ff5ec,통영시립욕지도서관,1252,이칼리아,천재교육,서울문화사,2000,경상남도 통영시 욕지면,2023-02-08
...,...,...,...,...,...,...,...,...,...
141,63e5e02be0ffba6ec8707e64,통영시립욕지도서관,36317,섬에 온 쌍둥이 별 박종현 환상동화,천재교육,세계문예,2006,경상남도 통영시 욕지면,2023-02-08
142,63e5e02be0ffba6ec8707fab,통영시립욕지도서관,36644,가을이 왔어요,천재교육,천재교육,2009,경상남도 통영시 욕지면,2023-02-08
143,63e5e02be0ffba6ec8707fac,통영시립욕지도서관,36645,가을이랑 만나요,천재교육,천재교육,2009,경상남도 통영시 욕지면,2023-02-08
144,63e5e02be0ffba6ec8707fad,통영시립욕지도서관,36646,겨울이 왔어요,천재교육,천재교육,2009,경상남도 통영시 욕지면,2023-02-08
145,63e5e02be0ffba6ec8707fae,통영시립욕지도서관,36647,겨울이랑 만나요,천재교육,천재교육,2009,경상남도 통영시 욕지면,2023-02-08